button {
    width:100%;
    font-style: oblique;
}
.tbl_UserLogIn{

}

.btn_LogIn:hover {
    background-color: #a7903379;
    border: none;
    color: rgb(0, 0, 0);
  }
.btn_LogIn{

    background-color: #a7903325;
    border: none;
    transition: 0.3s;
    padding: 5px 24px;
}

.btn_Register:hover {
    background-color: #a7903379;
    color: rgb(0, 0, 0);
  }
.btn_Register{

    background-color: #a7903325;
    border: none;
    transition: 0.3s;
    padding: 5px 24px;
}