

button {
  width:100%;
  font-style: oblique;
}

.btn_LogIn:hover {
    background-color: #00000048;
    border: none;
    color: rgb(0, 0, 0);
  }
.btn_LogIn{

    background-color: #2b2a2421;
    border: none;
    transition: 0.3s;
    padding: 5px 24px;
}

.btn_Register:hover {
    background-color: #00000048;
    color: rgb(0, 0, 0);
  }
.btn_Register{

    background-color: #2b2a2421;
    border: none;
    transition: 0.3s;
    padding: 5px 24px;
}

.tbl_UserLogIn{
  align-content: center;
}
div {
  position: relative;
  background-color: #2b2a2421;
  height: 185px;
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
}