table{
    margin: 5px;
    padding: 5px;
    height: 0;
}

tr{


}

th{
    margin: 5px;
    padding: 5px;
    height:2px;
    border-left: 1px solid black; 
    border-right: 1px solid black; 
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
}

td{

    border-left: 1px solid black; 
    border-right: 1px solid black; 
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
}

.line {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-top :5px;
    margin-bottom : 5px;
}

.table:hover{
    background-color: #edf3f3;
}

.a{
    background-color: #a9a9a99e;
}

div{
    position: relative;
    align-items:center;
    margin: auto;
    width: 90%;
}


.UserId:hover {
    background-color: #46ff36;
    color: rgb(0, 0, 0);
  }

  .UserId{
    padding: 8px ;
    background-color: #edf3f3;
    border: 0.2px solid #000000; 
    transition: 0.3s;
    height: 40px;
  }

  input{
      height: 41px;
  }

