<app-admin-nav-bar></app-admin-nav-bar>
<div>
    <br>
    <table class="tbl">
        <thead>
            <tr>
                <th scope="col" class="a">id</th>
                <th scope="col" class="a">Time Entered</th>
                <th scope="col" class="a">Orgin</th>
                <th scope="col" class="a">Destination</th>
                <th scope="col" class="a">Trip time</th>
                <th scope="col" class="a">User ID</th>
                <th scope="col" class="a">Action</th>
            </tr>
        </thead>

        <ng-container *ngIf="trips.length">
            <tr *ngFor="let trp of trips; let i = index" class="table" >
                <td>{{trp.t_id}}</td>
                <td>{{trp.submitted_datetime}}</td>
                <td>{{trp.curr_location}}</td>
                <td>{{trp.destination}}</td>  
                <td>{{trp.time_elapsed}}</td>
                <td>{{trp.user_id}}</td>
                <app-button (click)="deleteTrip(trp)"></app-button>
            </tr>
          </ng-container>
    </table>

</div>
