table{
    margin: 5px;
    padding: 5px;
    height: 0;
}

tr{
    margin: 100px;
    padding: 100px;
}

th{
    margin: 5px;
    padding: 5px;
    height:2px;
    border-left: 1px solid black; 
    border-right: 1px solid black; 
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
}

td{
    padding: 5px;
    border-left: 1px solid black; 
    border-right: 1px solid black; 
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
}

.line {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-top :5px;
    margin-bottom : 5px;
}

.table:hover{
    background-color: #edf3f3;
}

.a{
    background-color: #a9a9a99e;
}

div{
    position: relative;
    align-items:center;
    margin: auto;
    width: 55%;
}