<app-admin-nav-bar></app-admin-nav-bar>
<div>
    <br>
    <table class="tbl">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Time Entered</th>
                <th scope="col">Orgin</th>
                <th scope="col">Destination</th>
                <th scope="col">Trip time</th>
                <th scope="col">User ID</th>
            </tr>
        </thead>

        <ng-container *ngIf="trips.length">
            <tbody *ngFor="let trp of trips; let i = index">
                <td>{{trp.t_id}}</td>
                <td>{{trp.submitted_datetime}}</td>
                <td>{{trp.curr_location}}</td>
                <td>{{trp.destination}}</td>  
                <td>{{trp.time_elapsed}}</td>
                <td>{{trp.user_id}}</td>  
                <!-- time format in DB not converting correctly --> 

            </tbody>
          </ng-container>
    </table>

</div>
