.btn:hover {
    background-color: #f82a2a;
    color: rgb(0, 0, 0);
  }

  .btn{
    padding: 2px 30px;
    background-color: #edf3f3;
    border: 0.1px solid #000000; 
    border-left: none;
    border-top: none;
    transition: 0.3s;
    height: 49px;
    border-radius: 0%;
  }