<div>
    <br>
    <table class="table">
        <tr>
            <th>Orgin</th>
            <th>Desination</th>
            <th>Trip Time</th>
            <th>Distance</th>
            <th>Created</th>
        </tr>
        <app-mycomp></app-mycomp>
        <ul>
            <!-- <li ng-repeat="let trip in trips" >{{trips[0].curr_location}}</li> -->
        </ul>
        <tr>
            <th> {{trips[0].curr_location}}</th>
            <th> {{trips[0].destination}}</th>
            <th> {{trips[0].time_elapsed}}</th>
            <th> {{trips[0].destination}}</th>
            <th> {{trips[0].submitted_datetime}}</th>
        </tr> 
    </table>
</div>