<div class="hist">
    <br>
    <table class="tbl">
        <thead>
            <tr>
                <th scope="col" class="a">id</th>
                <th scope="col" class="b">Time Entered</th>
                <th scope="col" class="c">Orgin</th>
                <th scope="col" class="d">Destination</th>
                <th scope="col" class="e">Trip time</th>
                <th scope="col" class="f">User ID</th>
            </tr>
        </thead>

        <ng-container *ngIf="trips.length">
            <tr *ngFor="let trp of trips; let i = index" class="ustTbl2">
                <td>{{trp.t_id}}</td>
                <td>{{trp.submitted_datetime}}</td>
                <td>{{trp.curr_location}}</td>
                <td>{{trp.destination}}</td>  
                <td>{{trp.time_elapsed}}</td>
                <td>{{trp.user_id}}</td>  
            </tr>
          </ng-container>
    </table>

</div>