<table id="tbl_register">
    <tr>
        <td>
            <label>Enter First Name:</label> 
        </td>
        <td>
            <input type="text" id="txt_reg_FirstName" placeholder="First Name">
        </td>
    </tr>
    <tr>
        <td>
            <label>Enter Last Name:</label>
        </td>
        <td>
            <input type="text" id="txt_reg_LastName" placeholder="Last Name">
        </td>
    </tr>
    <tr>
        <td>
            <label>Enter Email:</label>
        </td>
        <td>
            <input type="text" id="txt_reg_Email">
        </td>
    </tr>
    <tr>
        <td>
            <label>Enter User Name:</label>
        </td>
        <td>
            <input type="text" id="txt_reg_UserName" placeholder="User Name">
        </td>
    </tr>
    <tr>
        <td>
            <label>Enter Password:</label>
        </td>
        <td>
            <input type="password" id="txt_reg_Password">
        </td>
    </tr>
    <tr>
        <td>
            <label>Confirm Password:</label>
        </td>
        <td>
            <input type="password" id="txt_reg_confirmPassword">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button id="btn_Register">Register</button>
        </td>
    </tr>
</table>        