<app-admin-nav-bar></app-admin-nav-bar>
<div>
    <br>
    <table class="tbl">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">username</th>
                <th scope="col">role</th>
                <th scope="col">registered time</th>
            </tr>
        </thead>

        <ng-container *ngIf="users.length">
            <tr *ngFor="let num of users; let i = index" class="ustTbl1">
                <td>{{num.id}}</td>
                <td>{{num.username}}</td>
                <td>{{num.role}}</td>
                <td>{{num.registerDateTime}}</td>  
            </tr>
          </ng-container>
    </table>

</div>
